#slider .slider-content .text {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  color: #990000;
}

#slider .slider-content .slider-content__header {
  display: flex;
  align-items: center;
}

#slider .slider-content .wap h4 {
  color: #fff;
  background-color: #990000;
  font-size: 20px;
  text-align: center;
  border-radius: 10px 0px 0px 0px;
  padding: 10px;
}

#slider .slider-content .wap ul {
  border: 1px solid gray;
  min-height: 454px;
}

#slider .slider-content .wap ul li a {
  display: block;
  margin: 10px;
  font-size: 20px;
  border-bottom: 1px solid gray;
  padding: 10px;
}

#slider .slider-content .wap ul li a:hover {
  color: #ff9900;
}

#slider .slider-content .right {
  flex: 1;
  width: 75%;
  padding-left: 2rem;
}

#slider .slider-content img {
  width: 100%;
  height: 170px;
  display: block;
  margin: 0px auto;
  object-fit: cover;
}

#slider .main .wap-main {
  border-top: 5px solid #990000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slider .main .wap-main .text {
  border: 1px solid #525151;
  float: left;
  width: auto;
  margin: 17px;
  border-radius: 5px;
  background-color: #dbdbdb;
  box-shadow: 8px 1px 10px 0px rgb(0 0 0 / 38%);
}

#slider .main .wap-main .text img {
  width: 240px;
  height: 180px;
  display: block;
  margin: 0px auto;
  padding: 9px;
}

#slider .main .wap-main:after {
  display: block;
  content: "";
  clear: both;
}

#slider .main h4 {
  margin: 10px auto;
  font-size: 20px;
  color: #fff;
  padding: 5px;
  background-color: #990000;
  width: 854px;
  text-align: center;
  text-transform: uppercase;
}

#slider .slider-content .main .wap-main .text p {
  font-size: 18px;
  width: 236px;
  font-weight: bold;
  margin-left: 10px;
  text-align: justify;
}

/**/

#main .section h3 {
  font-size: 20px;
  color: #fff;
  padding: 5px;
  background-color: #990000;
  width: 400px;
  text-align: center;
  margin: 20px 0px 5px 0px;
}

#main .section .wap {
  border-top: 5px solid #990000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main .section .wap .wap-main {
  border-top: 5px solid #990000;
}

#main .section .wap:after {
  display: block;
  content: "";
  clear: both;
}

#main .section .wap .text {
  border: 1px solid #525151;
  float: left;
  width: 258px;
  height: 265px;
  margin: 20px;
  border-radius: 5px;
  background-color: #dbdbdb;
  box-shadow: 8px 1px 10px 0px rgb(0 0 0 / 38%);
}

#main .section .wap .text img {
  width: 240px;
  height: 180px;
  display: block;
  margin: 0px auto;
  padding: 9px;
}

#main .section .wap .text p {
  font-size: 18px;
  width: 236px;
  font-weight: bold;
  margin-left: 10px;
  text-align: justify;
}
